.register-form {
    padding: 3em 3em;
    border: 2px solid rgb(66, 98, 244);
    margin-top: 150px;
    border-radius: 20px;
    box-shadow: 0px 0px 12px 1px rgba(52,52,52,0.4);
}

.register-form h2{
    text-align: center;
}

.button-custom-submit {
    background: rgb(66, 98, 244);
    color: white;
    margin-top: 1em;
    box-shadow: 0px 0px 12px 1px rgba(52,52,52,0.4);
}

input {
    font-variant: normal !important;
}
input:focus{
    box-shadow: 0px 0px 12px 1px rgba(52,52,52,0.4);
}
